@using UrlStringsAlias = MSBuildExtensionPack.AspNetMvc40Rasor.Helpers.UrlStrings;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Routing;
@using Framework.Mvc;
@using PagedList.Mvc;
@model MSBuildExtensionPack.AspNetMvc40ViewModel.WPCommonOfOrganizationVM
@{
    RouteValueDictionary queryStringDictionary = new RouteValueDictionary(Request.QueryString.AllKeys.ToDictionary(key => key, key => (object)Request.QueryString[key]));
}
 <div class="row">
 <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        @using (Html.BeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 style="display: inline;">@Framework.Resx.UIStringResource.Common_Filter</h3>
                </div>
                <div class="panel-footer nopadding">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <button class="btn btn-default" role="button" type="submit" name="SearchToolBarUp" title="@Framework.Resx.UIStringResource.Search">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_AddNew, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="AddNewToolBarUp" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Organization_WPCommonOfOrganization_Export, UrlStringsAlias.ControllerName_Organization, new RouteValueDictionary { { "dataServiceType", "Csv" } })'" class="btn btn-default" role="button" type="button" name="ExportToolBarUp" title="@Framework.Resx.UIStringResource.Export">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Organization_WPCommonOfOrganization_Export, UrlStringsAlias.ControllerName_Organization, new RouteValueDictionary { { "dataServiceType", "Excel2010" } })'" class="btn btn-default" role="button" type="button" name="ExportToExcelToolBarUp" title="@Framework.Resx.UIStringResource.ExportToExcel">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_Import, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="ImportToolBarUp" title="@Framework.Resx.UIStringResource.Import">
        <span class="glyphicon glyphicon-import"></span>
    </a>
</div>
</div>
                </div>
                <div class="panel-body">
 <div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareIdCommonOfOrganization_2OfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.Common.ParentId.NullableValueToCompare, (List<SelectListItem>)Model.SelectListOfMSBuildExtensionPack_Organization, MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Please_select_Organization____, new Dictionary<string,Object>{ { "class", "form-control" } })
</div>
 <div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareIsSystemBuiltInCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.Common.IsSystemBuiltIn.PredefinedBooleanSelectedValue, (List<SelectListItem>)Model.UISharedViewModel.PredefinedBooleanSelectionList, new Dictionary<string, Object> { { "class", "form-control" } })
</div>
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareCreatedDateTimeCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.Common.CreatedDateTimeRange.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.Common.CreatedDateTimeRange.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.Common.CreatedDateTimeRange.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
 <div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareBitColumnCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.Common.BitColumn.PredefinedBooleanSelectedValue, (List<SelectListItem>)Model.UISharedViewModel.PredefinedBooleanSelectionList, new Dictionary<string, Object> { { "class", "form-control" } })
</div>
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareDatetimeColumnCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.Common.DatetimeColumnRange.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.Common.DatetimeColumnRange.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.Common.DatetimeColumnRange.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareDatetime2ColumnCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.Common.Datetime2ColumnRange.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.Common.Datetime2ColumnRange.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.Common.Datetime2ColumnRange.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareSmalldatetimeColumnCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.Common.SmalldatetimeColumnRange.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.Common.SmalldatetimeColumnRange.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.Common.SmalldatetimeColumnRange.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareDateColumnCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.Common.DateColumnRange.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.Common.DateColumnRange.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.Common.DateColumnRange.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareNameCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.Common.Name.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareCharColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.Common.CharColumn.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareVarcharColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.Common.VarcharColumn.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareTextColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.Common.TextColumn.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareNcharColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.Common.NcharColumn.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareNvarcharColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.Common.NvarcharColumn.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareNtextColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.Common.NtextColumn.NullableValueToBeContained, new { @class = "form-control" })
</div>
                    <div class="form-group form-inline">
                        <label class="control-label">Items per page : </label>
                        @Html.DropDownListFor(model => model.QueryPagingSetting.PageSize, Model.UISharedViewModel.SelectListOfPageSize, new Dictionary<string, Object> { { "class", "form-control" }, { "onchange", "this.form.submit();" } })
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label">Sort by:</label>
                        @Html.DropDownListFor(model => model.QueryOrderBySettingCollecionInString, Model.UISharedViewModel.SelectListOfQueryOrderBySettingCollecionInString, new Dictionary<string, Object> { { "class", "form-control" }, { "onchange", "this.form.submit();" } })
                    </div>
                </div>
                <div class="panel-footer nopadding">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <button class="btn btn-default" role="button" type="submit" name="SearchToolBarBottom" title="@Framework.Resx.UIStringResource.Search">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_AddNew, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="AddNewToolBarBottom" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Organization_WPCommonOfOrganization_Export, UrlStringsAlias.ControllerName_Organization, new RouteValueDictionary { { "dataServiceType", "Csv" } })'" class="btn btn-default" role="button" type="button" name="ExportToolBarBottom" title="@Framework.Resx.UIStringResource.Export">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Organization_WPCommonOfOrganization_Export, UrlStringsAlias.ControllerName_Organization, new RouteValueDictionary { { "dataServiceType", "Excel2010" } })'" class="btn btn-default" role="button" type="button" name="ExportToExcelToolBarBottom" title="@Framework.Resx.UIStringResource.ExportToExcel">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_Import, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="ImportToolBarBottom" title="@Framework.Resx.UIStringResource.Import">
        <span class="glyphicon glyphicon-import"></span>
    </a>
</div>
</div>
                </div>
            </div>
        }
 </div>
 <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 nopadding">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 style="display: inline;">@Html.ActionLink(MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Organization, "WPCommonOfOrganization", "Organization")</h3>
            </div>
            <div class="table-responsive">
<table id="MasterDataControl1" name="MasterDataControl1" class="table table-hover table-bordered table-striped">
<thead>
    <tr>
<th style="min-width:100px" class="hidden-xs visible-sm"></th>
<th class="hidden-sm">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Id</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.CreatedDateTime</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Organization_2_Name</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsSystemBuiltIn</th>
<th class="hidden-xs">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.BitColumn</th>
<th class="hidden-xs">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Name</th>
<th class="hidden-sm">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.UniqueIdentifier</th>
<th class="hidden-sm">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.CharColumn</th>
<th class="hidden-md">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.VarcharColumn</th>
<th class="hidden-md">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.TextColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.NcharColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.NvarcharColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.NtextColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.BinaryColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.VarbinaryColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.ImageColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.TinyintColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.SmallintColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IntColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.BigintColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.DecimalColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.NumericColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.SmallmoneyColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.MoneyColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.FloatColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.RealColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.DatetimeColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Datetime2Column</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.SmalldatetimeColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.DateColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.TimeColumn</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.UniqueidentifierColumn</th>
    </tr>
</thead>
<tbody>
    @if (Model != null && Model.StatusOfResult == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
    {
        for (var i = 0; i < Model.Result.Count; i ++)
        {
            <tr>
<td><div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { isToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=false, valueToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Result[i].Id, isToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Result[i].UniqueIdentifier })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarRightInList" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_Edit, UrlStringsAlias.ControllerName_Organization, new { isToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=false, valueToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Result[i].Id, isToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Result[i].UniqueIdentifier })" class="btn btn-default" role="button" type="button" name="EditToolBarRightInList" title="@Framework.Resx.UIStringResource.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>
</div>
</div>
</td>
<td class="hidden-sm">@Html.DisplayFor(model => model.Result[i].Id)</td>
<td>@Html.DisplayFor(model => model.Result[i].CreatedDateTime)</td>
<td>@Html.ActionLink(Model.Result[i].Organization_2_Name, UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { id = Model.Result[i].ParentId, uniqueIdentifier = Model.Result[i].Organization_2_UniqueIdentifier }, null)</td>
<td>@Html.DisplayFor(model => model.Result[i].IsSystemBuiltIn)</td>
<td class="hidden-xs">@Html.DisplayFor(model => model.Result[i].BitColumn)</td>
<td class="hidden-xs">@Html.DisplayFor(model => model.Result[i].Name)</td>
<td class="hidden-sm">@Html.DisplayFor(model => model.Result[i].UniqueIdentifier)</td>
<td class="hidden-sm">@Html.DisplayFor(model => model.Result[i].CharColumn)</td>
<td class="hidden-md">@Html.DisplayFor(model => model.Result[i].VarcharColumn)</td>
<td class="hidden-md">@Html.DisplayFor(model => model.Result[i].TextColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].NcharColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].NvarcharColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].NtextColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].BinaryColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].VarbinaryColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].ImageColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].TinyintColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].SmallintColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].IntColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].BigintColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].DecimalColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].NumericColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].SmallmoneyColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].MoneyColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].FloatColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].RealColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].DatetimeColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].Datetime2Column)</td>
<td>@Html.DisplayFor(model => model.Result[i].SmalldatetimeColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].DateColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].TimeColumn)</td>
<td>@Html.DisplayFor(model => model.Result[i].UniqueidentifierColumn)</td>
            </tr>
        }
    }
    else
    {
<tr><td colspan="50" ><div class="text-danger">@Model.StatusMessageOfResult</div>
</td></tr>
    }
</tbody>
</table>
            </div>
            <div class="pull-right">
    @if (Model.Result != null)
    {
        var pagedResult = (PagedList.StaticPagedList<MSBuildExtensionPack.DataSourceEntities.Organization.Default>)ViewBag.StaticPagedResult;
        <text>
            @Html.PagedListPager(pagedResult, currentPage => Url.Action(UrlStringsAlias.ActionName_Organization_WPCommonOfOrganization, new { currentPage = currentPage }), PagedList.Mvc.PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </text>
    }
            </div>
        </div>
 </div>
 </div>
@section Scripts {
   <script type="text/javascript">
        $(document).ready($(function() {
            $('select[name="Criteria.Common.CreatedDateTimeRange.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.Common.CreatedDateTimeRange');
            });
            preDefinedDateTimeRangeChanged('Criteria.Common.CreatedDateTimeRange');
            $('input[name="Criteria.Common.CreatedDateTimeRange.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.CreatedDateTimeRange.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.CreatedDateTimeRange.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.Common.CreatedDateTimeRange.NullableUpperBound"]').prop('disabled', true);
            $('select[name="Criteria.Common.DatetimeColumnRange.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.Common.DatetimeColumnRange');
            });
            preDefinedDateTimeRangeChanged('Criteria.Common.DatetimeColumnRange');
            $('input[name="Criteria.Common.DatetimeColumnRange.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.DatetimeColumnRange.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.DatetimeColumnRange.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.Common.DatetimeColumnRange.NullableUpperBound"]').prop('disabled', true);
            $('select[name="Criteria.Common.Datetime2ColumnRange.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.Common.Datetime2ColumnRange');
            });
            preDefinedDateTimeRangeChanged('Criteria.Common.Datetime2ColumnRange');
            $('input[name="Criteria.Common.Datetime2ColumnRange.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.Datetime2ColumnRange.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.Datetime2ColumnRange.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.Common.Datetime2ColumnRange.NullableUpperBound"]').prop('disabled', true);
            $('select[name="Criteria.Common.SmalldatetimeColumnRange.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.Common.SmalldatetimeColumnRange');
            });
            preDefinedDateTimeRangeChanged('Criteria.Common.SmalldatetimeColumnRange');
            $('input[name="Criteria.Common.SmalldatetimeColumnRange.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.SmalldatetimeColumnRange.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.SmalldatetimeColumnRange.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.Common.SmalldatetimeColumnRange.NullableUpperBound"]').prop('disabled', true);
            $('select[name="Criteria.Common.DateColumnRange.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.Common.DateColumnRange');
            });
            preDefinedDateTimeRangeChanged('Criteria.Common.DateColumnRange');
            $('input[name="Criteria.Common.DateColumnRange.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.DateColumnRange.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.Common.DateColumnRange.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.Common.DateColumnRange.NullableUpperBound"]').prop('disabled', true);
        }));
    </script>
}
