@using UrlStringsAlias = MSBuildExtensionPack.AspNetMvc40Rasor.Helpers.UrlStrings;
@{
    ViewBag.Title = MSBuildExtensionPack.Resx.UIStringResourcePerEntityBuildEventCode.BuildEventCode;
}
@section featured {
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.Message</h4>
    <p>@MSBuildExtensionPack.Resx.UIStringResourcePerEntityBuildEventCode.BuildEventCode</p>
}
<div class="row">
    <div class="col-md-12">
        <ol>
            <li>@Html.ActionLink(Framework.Resx.UIStringResource.AddNew, UrlStringsAlias.ActionName_BuildEventCode_AddNew)</li>
            <li>@Html.ActionLink(Framework.Resx.UIStringResource.Delete, UrlStringsAlias.ActionName_BuildEventCode_Delete) - Please add parameters to load this page </li>
            <li>@Html.ActionLink(Framework.Resx.UIStringResource.Edit, UrlStringsAlias.ActionName_BuildEventCode_Edit) - Please add parameters to load this page </li>
            <li>@Html.ActionLink(Framework.Resx.UIStringResource.Details, UrlStringsAlias.ActionName_BuildEventCode_Details) - Please add parameters to load this page </li>
            <li>@Html.ActionLink(MSBuildExtensionPack.Resx.UIStringResourcePerApp.MSBuildExtensionPack_BuildEventCode_Common, UrlStringsAlias.ActionName_BuildEventCode_WPCommonOfBuildEventCode)</li>
            <li>@Html.ActionLink(MSBuildExtensionPack.Resx.UIStringResourcePerApp.MSBuildExtensionPack_BuildEventCode_FullDetails, UrlStringsAlias.ActionName_BuildEventCode_WPFullDetailsOfBuildEventCode)</li>
        </ol>
    </div>
</div>
