@using UrlStringsAlias = MSBuildExtensionPack.AspNetMvc40Rasor.Helpers.UrlStrings;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Routing;
@using Framework.Mvc;
@using PagedList.Mvc;
@model MSBuildExtensionPack.AspNetMvc40ViewModel.WPCommonOfOrganizationVM
@{
    RouteValueDictionary queryStringDictionary = new RouteValueDictionary(Request.QueryString.AllKeys.ToDictionary(key => key, key => (object)Request.QueryString[key]));
}
 <div class="row">
 <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        @using (Html.BeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 style="display: inline;">@Framework.Resx.UIStringResource.Common_Filter</h3>
                </div>
                <div class="panel-footer nopadding">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <button class="btn btn-default" role="button" type="submit" name="SearchToolBarUp" title="@Framework.Resx.UIStringResource.Search">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_AddNew, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="AddNewToolBarUp" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Organization_WPCommonOfOrganization_Export, UrlStringsAlias.ControllerName_Organization, new RouteValueDictionary { { "dataServiceType", "Csv" } })'" class="btn btn-default" role="button" type="button" name="ExportToolBarUp" title="@Framework.Resx.UIStringResource.Export">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Organization_WPCommonOfOrganization_Export, UrlStringsAlias.ControllerName_Organization, new RouteValueDictionary { { "dataServiceType", "Excel2010" } })'" class="btn btn-default" role="button" type="button" name="ExportToExcelToolBarUp" title="@Framework.Resx.UIStringResource.ExportToExcel">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_Import, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="ImportToolBarUp" title="@Framework.Resx.UIStringResource.Import">
        <span class="glyphicon glyphicon-import"></span>
    </a>
</div>
</div>
                </div>
                <div class="panel-body">
 <div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareIdCommonOfOrganization_2OfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.OrganizationQueryCriteriaCommon.IdCommonOfOrganization_2.NullableValueToCompare, (List<SelectListItem>)Model.SelectListOfMSBuildExtensionPack_Organization, MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Please_select_Organization____, new Dictionary<string,Object>{ { "class", "form-control" } })
</div>
 <div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareIsSystemBuiltInCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.OrganizationQueryCriteriaCommon.IsSystemBuiltInCommonOft.PredefinedBooleanSelectedValue, (List<SelectListItem>)Model.UISharedViewModel.PredefinedBooleanSelectionList, new Dictionary<string, Object> { { "class", "form-control" } })
</div>
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareCreatedDateTimeCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.OrganizationQueryCriteriaCommon.CreatedDateTimeCommonOft.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.OrganizationQueryCriteriaCommon.CreatedDateTimeCommonOft.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.OrganizationQueryCriteriaCommon.CreatedDateTimeCommonOft.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
 <div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareBitColumnCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.OrganizationQueryCriteriaCommon.BitColumnCommonOft.PredefinedBooleanSelectedValue, (List<SelectListItem>)Model.UISharedViewModel.PredefinedBooleanSelectionList, new Dictionary<string, Object> { { "class", "form-control" } })
</div>
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareDatetimeColumnCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.OrganizationQueryCriteriaCommon.DatetimeColumnCommonOft.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.OrganizationQueryCriteriaCommon.DatetimeColumnCommonOft.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.OrganizationQueryCriteriaCommon.DatetimeColumnCommonOft.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareDatetime2ColumnCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.OrganizationQueryCriteriaCommon.Datetime2ColumnCommonOft.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.OrganizationQueryCriteriaCommon.Datetime2ColumnCommonOft.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.OrganizationQueryCriteriaCommon.Datetime2ColumnCommonOft.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareSmalldatetimeColumnCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.OrganizationQueryCriteriaCommon.SmalldatetimeColumnCommonOft.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.OrganizationQueryCriteriaCommon.SmalldatetimeColumnCommonOft.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.OrganizationQueryCriteriaCommon.SmalldatetimeColumnCommonOft.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareDateColumnCommonOftOfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.OrganizationQueryCriteriaCommon.DateColumnCommonOft.PreDefinedDateTimeRange, Model.UISharedViewModel.PreDefinedDateTimeRangeList, new Dictionary<string, Object> { { "class", "form-control" } } )
    @Html.TextBoxFor(model => model.Criteria.OrganizationQueryCriteriaCommon.DateColumnCommonOft.NullableLowerBound, new { @readonly = "readonly", @class = "form-control" })
    @Html.TextBoxFor(model => model.Criteria.OrganizationQueryCriteriaCommon.DateColumnCommonOft.NullableUpperBound, new { @readonly = "readonly", @class = "form-control" })
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareNameCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.OrganizationQueryCriteriaCommon.NameCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareCharColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.OrganizationQueryCriteriaCommon.CharColumnCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareVarcharColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.OrganizationQueryCriteriaCommon.VarcharColumnCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareTextColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.OrganizationQueryCriteriaCommon.TextColumnCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareNcharColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.OrganizationQueryCriteriaCommon.NcharColumnCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareNvarcharColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.OrganizationQueryCriteriaCommon.NvarcharColumnCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsToCompare_ID_CheckBox_Search_isToCompareNtextColumnCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.OrganizationQueryCriteriaCommon.NtextColumnCommonOft.NullableValueToBeContained, new { @class = "form-control" })
</div>
                    <div class="form-group form-inline">
                        <label class="control-label">Items per page : </label>
                        @Html.DropDownListFor(model => model.QueryPagingSetting.PageSize, Model.UISharedViewModel.SelectListOfPageSize, new Dictionary<string, Object> { { "class", "form-control" }, { "onchange", "this.form.submit();" } })
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label">Sort by:</label>
                        @Html.DropDownListFor(model => model.QueryOrderBySettingCollecionInString, Model.UISharedViewModel.SelectListOfQueryOrderBySettingCollecionInString, new Dictionary<string, Object> { { "class", "form-control" }, { "onchange", "this.form.submit();" } })
                    </div>
                </div>
                <div class="panel-footer nopadding">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <button class="btn btn-default" role="button" type="submit" name="SearchToolBarBottom" title="@Framework.Resx.UIStringResource.Search">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_AddNew, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="AddNewToolBarBottom" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Organization_WPCommonOfOrganization_Export, UrlStringsAlias.ControllerName_Organization, new RouteValueDictionary { { "dataServiceType", "Csv" } })'" class="btn btn-default" role="button" type="button" name="ExportToolBarBottom" title="@Framework.Resx.UIStringResource.Export">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Organization_WPCommonOfOrganization_Export, UrlStringsAlias.ControllerName_Organization, new RouteValueDictionary { { "dataServiceType", "Excel2010" } })'" class="btn btn-default" role="button" type="button" name="ExportToExcelToolBarBottom" title="@Framework.Resx.UIStringResource.ExportToExcel">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_Import, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="ImportToolBarBottom" title="@Framework.Resx.UIStringResource.Import">
        <span class="glyphicon glyphicon-import"></span>
    </a>
</div>
</div>
                </div>
            </div>
        }
 </div>
 <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 nopadding">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 style="display: inline;">@Html.ActionLink(MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Organization, "WPCommonOfOrganization", "Organization")</h3>
            </div>
            <div class="table-responsive">
<table id="MasterDataControl1" name="MasterDataControl1" class="table table-hover table-bordered table-striped">
<thead>
 <tr><th  style="min-width:100px" class="hidden-xs visible-sm"></th>
<th >@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Organization_2_UniqueidentifierColumn</th>
<th >@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Organization_2_UniqueIdentifier</th>
<th >@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Organization_2_Name</th>
<th  class="hidden-xs visible-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Name</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IsSystemBuiltIn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.UniqueIdentifier</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.CreatedDateTime</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.CharColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.VarcharColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.TextColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.NcharColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.NvarcharColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.NtextColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.BitColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.BinaryColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.VarbinaryColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.ImageColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.TinyintColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.SmallintColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.IntColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.BigintColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.DecimalColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.NumericColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.SmallmoneyColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.MoneyColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.FloatColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.RealColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.DatetimeColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Datetime2Column</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.SmalldatetimeColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.DateColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.TimeColumn</th>
<th  class="hidden-xs hidden-sm visible-md visible-lg">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.UniqueidentifierColumn</th>
<th  class="col-xs-4 col-sm-3 col-md-2 col-lg-2"></th></tr>
</thead>
<tbody>
    @if (Model != null && Model.StatusOfResult == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
    {
        int index = 0;
        foreach (var item in Model.Result)
        {
            index++;
<tr><td  style="min-width:100px" class="hidden-xs visible-sm"></td>
<td  class="col-xs-4 col-sm-3 col-md-2 col-lg-2"><div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_WPEntityRelatedOfOrganization, UrlStringsAlias.ControllerName_Organization, new { isToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=false, valueToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = item.Id, isToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = item.UniqueIdentifier, isToCompareUniqueidentifierColumnIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueidentifierColumnIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = item.UniqueidentifierColumn })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarRightInList" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_Edit, UrlStringsAlias.ControllerName_Organization, new { isToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=false, valueToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = item.Id, isToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = item.UniqueIdentifier, isToCompareUniqueidentifierColumnIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueidentifierColumnIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = item.UniqueidentifierColumn })" class="btn btn-default" role="button" type="button" name="EditToolBarRightInList" title="@Framework.Resx.UIStringResource.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>
</div>
</div></td>
<td >@Html.ActionLink(item.Organization_2_Name, UrlStringsAlias.ActionName_Organization_WPEntityRelatedOfOrganization, UrlStringsAlias.ControllerName_Organization, new { isToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=false, valueToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = item.ParentId, isToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = item.Organization_2_UniqueIdentifier, isToCompareUniqueidentifierColumnIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueidentifierColumnIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = item.Organization_2_UniqueidentifierColumn }, null)</td>
<td >@Html.DisplayFor(modelItem => item.Name)</td>
<td >@Html.DisplayFor(modelItem => item.IsSystemBuiltIn)</td>
<td >@Html.DisplayFor(modelItem => item.UniqueIdentifier)</td>
<td >@Html.DisplayFor(modelItem => item.CreatedDateTime)</td>
<td >@Html.DisplayFor(modelItem => item.CharColumn)</td>
<td >@Html.DisplayFor(modelItem => item.VarcharColumn)</td>
<td >@Html.DisplayFor(modelItem => item.TextColumn)</td>
<td >@Html.DisplayFor(modelItem => item.NcharColumn)</td>
<td >@Html.DisplayFor(modelItem => item.NvarcharColumn)</td>
<td >@Html.DisplayFor(modelItem => item.NtextColumn)</td>
<td >@Html.DisplayFor(modelItem => item.BitColumn)</td>
<td >@Html.DisplayFor(modelItem => item.BinaryColumn)</td>
<td >@Html.DisplayFor(modelItem => item.VarbinaryColumn)</td>
<td >@Html.DisplayFor(modelItem => item.ImageColumn)</td>
<td >@Html.DisplayFor(modelItem => item.TinyintColumn)</td>
<td >@Html.DisplayFor(modelItem => item.SmallintColumn)</td>
<td >@Html.DisplayFor(modelItem => item.IntColumn)</td>
<td >@Html.DisplayFor(modelItem => item.BigintColumn)</td>
<td >@Html.DisplayFor(modelItem => item.DecimalColumn)</td>
<td >@Html.DisplayFor(modelItem => item.NumericColumn)</td>
<td >@Html.DisplayFor(modelItem => item.SmallmoneyColumn)</td>
<td >@Html.DisplayFor(modelItem => item.MoneyColumn)</td>
<td >@Html.DisplayFor(modelItem => item.FloatColumn)</td>
<td >@Html.DisplayFor(modelItem => item.RealColumn)</td>
<td >@Html.DisplayFor(modelItem => item.DatetimeColumn)</td>
<td >@Html.DisplayFor(modelItem => item.Datetime2Column)</td>
<td >@Html.DisplayFor(modelItem => item.SmalldatetimeColumn)</td>
<td >@Html.DisplayFor(modelItem => item.DateColumn)</td>
<td >@Html.DisplayFor(modelItem => item.TimeColumn)</td>
<td >@Html.DisplayFor(modelItem => item.UniqueidentifierColumn)</td></tr>
        }
    }
    else
    {
<tr><td colspan="50" ><div class="text-danger">@Model.StatusMessageOfResult</div>
</td></tr>
    }
</tbody>
</table>
            </div>
            <div class="pull-right">
    @if (Model.Result != null)
    {
        var pagedResult = (PagedList.StaticPagedList<MSBuildExtensionPack.DataSourceEntities.Organization.Default>)ViewBag.StaticPagedResult;
        <text>
            @Html.PagedListPager(pagedResult, currentPage => Url.Action(UrlStringsAlias.ActionName_Organization_WPCommonOfOrganization, new { currentPage = currentPage }), PagedList.Mvc.PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </text>
    }
            </div>
        </div>
 </div>
 </div>
@section Scripts {
   <script type="text/javascript">
        $(document).ready($(function() {
            $('select[name="Criteria.OrganizationQueryCriteriaCommon.CreatedDateTimeCommonOft.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.OrganizationQueryCriteriaCommon.CreatedDateTimeCommonOft');
            });
            preDefinedDateTimeRangeChanged('Criteria.OrganizationQueryCriteriaCommon.CreatedDateTimeCommonOft');
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.CreatedDateTimeCommonOft.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.CreatedDateTimeCommonOft.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.CreatedDateTimeCommonOft.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.CreatedDateTimeCommonOft.NullableUpperBound"]').prop('disabled', true);
            $('select[name="Criteria.OrganizationQueryCriteriaCommon.DatetimeColumnCommonOft.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.OrganizationQueryCriteriaCommon.DatetimeColumnCommonOft');
            });
            preDefinedDateTimeRangeChanged('Criteria.OrganizationQueryCriteriaCommon.DatetimeColumnCommonOft');
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.DatetimeColumnCommonOft.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.DatetimeColumnCommonOft.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.DatetimeColumnCommonOft.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.DatetimeColumnCommonOft.NullableUpperBound"]').prop('disabled', true);
            $('select[name="Criteria.OrganizationQueryCriteriaCommon.Datetime2ColumnCommonOft.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.OrganizationQueryCriteriaCommon.Datetime2ColumnCommonOft');
            });
            preDefinedDateTimeRangeChanged('Criteria.OrganizationQueryCriteriaCommon.Datetime2ColumnCommonOft');
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.Datetime2ColumnCommonOft.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.Datetime2ColumnCommonOft.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.Datetime2ColumnCommonOft.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.Datetime2ColumnCommonOft.NullableUpperBound"]').prop('disabled', true);
            $('select[name="Criteria.OrganizationQueryCriteriaCommon.SmalldatetimeColumnCommonOft.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.OrganizationQueryCriteriaCommon.SmalldatetimeColumnCommonOft');
            });
            preDefinedDateTimeRangeChanged('Criteria.OrganizationQueryCriteriaCommon.SmalldatetimeColumnCommonOft');
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.SmalldatetimeColumnCommonOft.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.SmalldatetimeColumnCommonOft.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.SmalldatetimeColumnCommonOft.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.SmalldatetimeColumnCommonOft.NullableUpperBound"]').prop('disabled', true);
            $('select[name="Criteria.OrganizationQueryCriteriaCommon.DateColumnCommonOft.PreDefinedDateTimeRange"]').change(function () {
                preDefinedDateTimeRangeChanged('Criteria.OrganizationQueryCriteriaCommon.DateColumnCommonOft');
            });
            preDefinedDateTimeRangeChanged('Criteria.OrganizationQueryCriteriaCommon.DateColumnCommonOft');
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.DateColumnCommonOft.NullableLowerBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.DateColumnCommonOft.NullableUpperBound"]').datepicker({
                autoclose: true,
                beforeShowDay: $.noop,
                calendarWeeks: false,
                clearBtn: false,
                daysOfWeekDisabled: [],
                endDate: Infinity,
                forceParse: true,
                format: 'mm/dd/yyyy',
                keyboardNavigation: true,
                language: 'en',
                minViewMode: 0,
                orientation: 'auto',
                rtl: false,
                startDate: -Infinity,
                startView: 2,
                todayBtn: false,
                todayHighlight: false,
                weekStart: 0
            });
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.DateColumnCommonOft.NullableLowerBound"]').prop('disabled', true);
            $('input[name="Criteria.OrganizationQueryCriteriaCommon.DateColumnCommonOft.NullableUpperBound"]').prop('disabled', true);
        }));
    </script>
}
