@using UrlStringsAlias = MSBuildExtensionPack.AspNetMvc40Rasor.Helpers.UrlStrings;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Routing;
@using Framework.Mvc;
@using PagedList.Mvc;
@model MSBuildExtensionPack.AspNetMvc40ViewModel.WPFullDetailsOfBuildLogVM
@{
    RouteValueDictionary queryStringDictionary = new RouteValueDictionary(Request.QueryString.AllKeys.ToDictionary(key => key, key => (object)Request.QueryString[key]));
}
 <div class="row">
 <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
<!-- Aside.01.Start. MSBuildExtensionPack.BuildLog => MasterViewAsideKeyInformation -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="display: inline;">
                @MSBuildExtensionPack.Resx.UIStringResourcePerEntityBuildLog.BuildLog
            </h3>
        </div>
@if (Model.StatusOfMasterEntity == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildLog_Edit, UrlStringsAlias.ControllerName_BuildLog, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.MasterEntity.Id })" class="btn btn-default" role="button" type="button" name="EditToolBarUp" title="@Framework.Resx.UIStringResource.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildLog_AddNew, UrlStringsAlias.ControllerName_BuildLog)" class="btn btn-default" role="button" type="button" name="AddNewToolBarUp" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildLog_Copy, UrlStringsAlias.ControllerName_BuildLog, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.MasterEntity.Id })" class="btn btn-default" role="button" type="button" name="CopyToolBarUp" title="@Framework.Resx.UIStringResource.Copy">
        <span class="glyphicon glyphicon-copy"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildLog_Details, UrlStringsAlias.ControllerName_BuildLog, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.MasterEntity.Id })" class="btn btn-default" role="button" type="button" name="DetailsToolBarUp" title="@Framework.Resx.UIStringResource.Details">
        <span class="glyphicon glyphicon-file"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildLog_Index, UrlStringsAlias.ControllerName_BuildLog)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
</div>
        <div class="panel-body">
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Id, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MasterEntity.Id)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Solution_1Id, new { @class = "control-label" })
                        @Html.ActionLink(Model.MasterEntity.Solution_1_Name, UrlStringsAlias.ActionName_Solution_WPFullDetailsOfSolution, UrlStringsAlias.ControllerName_Solution, new { id = Model.MasterEntity.Solution_1Id }, null)
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Organization_1Id, new { @class = "control-label" })
                        @Html.ActionLink(Model.MasterEntity.Organization_1_Name, UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { id = Model.MasterEntity.Organization_1Id, uniqueIdentifier = Model.MasterEntity.Organization_1_UniqueIdentifier }, null)
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Organization_2Id, new { @class = "control-label" })
                        @Html.ActionLink(Model.MasterEntity.Organization_2_Name, UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { id = Model.MasterEntity.Organization_2Id, uniqueIdentifier = Model.MasterEntity.Organization_2_UniqueIdentifier }, null)
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.EventTime, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MasterEntity.EventTime)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Organization_2_UniqueIdentifier, new { @class = "control-label" })
                        @Html.ActionLink(Model.MasterEntity.Organization_2_Name, UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { id = Model.MasterEntity.Organization_2Id, uniqueIdentifier = Model.MasterEntity.Organization_2_UniqueIdentifier }, null)
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Organization_2_Name, new { @class = "control-label" })
                        @Html.ActionLink(Model.MasterEntity.Organization_2_Name, UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { id = Model.MasterEntity.Organization_2Id, uniqueIdentifier = Model.MasterEntity.Organization_2_UniqueIdentifier }, null)
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Organization_1_UniqueIdentifier, new { @class = "control-label" })
                        @Html.ActionLink(Model.MasterEntity.Organization_1_Name, UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { id = Model.MasterEntity.Organization_1Id, uniqueIdentifier = Model.MasterEntity.Organization_1_UniqueIdentifier }, null)
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Organization_1_Name, new { @class = "control-label" })
                        @Html.ActionLink(Model.MasterEntity.Organization_1_Name, UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { id = Model.MasterEntity.Organization_1Id, uniqueIdentifier = Model.MasterEntity.Organization_1_UniqueIdentifier }, null)
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Solution_1_Name, new { @class = "control-label" })
                        @Html.ActionLink(Model.MasterEntity.Solution_1_Name, UrlStringsAlias.ActionName_Solution_WPFullDetailsOfSolution, UrlStringsAlias.ControllerName_Solution, new { id = Model.MasterEntity.Solution_1Id }, null)
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Build_1_Name, new { @class = "control-label" })
                        @Html.ActionLink(Model.MasterEntity.Build_1_Name, UrlStringsAlias.ActionName_Build_WPFullDetailsOfBuild, UrlStringsAlias.ControllerName_Build, new {  }, null)
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.BuildEventCode_1_Name, new { @class = "control-label" })
                        @Html.ActionLink(Model.MasterEntity.BuildEventCode_1_Name, UrlStringsAlias.ActionName_BuildEventCode_WPFullDetailsOfBuildEventCode, UrlStringsAlias.ControllerName_BuildEventCode, new {  }, null)
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.MasterEntity.Message, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MasterEntity.Message)
                        </div>
                </div>
        </div>
}
@if (Model.StatusOfMasterEntity != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfMasterEntity != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildLog_AddNew, UrlStringsAlias.ControllerName_BuildLog)" class="btn btn-default" role="button" type="button" name="AddNewToolBarUp" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildLog_WPFullDetailsOfBuildLog, UrlStringsAlias.ControllerName_BuildLog, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.MasterEntity.Id })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildLog_Index, UrlStringsAlias.ControllerName_BuildLog)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
</div>
<div class="text-danger">@Model.StatusMessageOfMasterEntity</div>
}
    </div>
</div>
<!-- Aside.01.End. MSBuildExtensionPack.BuildLog => MasterViewAsideKeyInformation -->
<!-- Aside.11.Start. MSBuildExtensionPack.Build => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseBuild_1">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityBuild.Build</a>
            </h3>
        </div>
        <div id="collapseBuild_1" class="panel-collapse collapse">
@if (Model.StatusOfBuild_1 == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Build_Index, UrlStringsAlias.ControllerName_Build)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Build_WPFullDetailsOfBuild, UrlStringsAlias.ControllerName_Build, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.Build_1.Id })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
</div>
        <div class="panel-body">
                <div class="form-group" >
                    @Html.LabelFor(model => model.Build_1.Id, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Build_1.Id)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Build_1.Name, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Build_1.Name)
                        </div>
                </div>
        </div>
}
@if (Model.StatusOfBuild_1 != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfBuild_1 != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Build_Index, UrlStringsAlias.ControllerName_Build)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Build_WPFullDetailsOfBuild, UrlStringsAlias.ControllerName_Build, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.Build_1.Id })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
</div>
<div class="text-danger">@Model.StatusMessageOfBuild_1</div>
}
        </div>
    </div>
</div>
<!-- Aside.11.End. MSBuildExtensionPack.Build => RelatedEntityWhenMasterViewIsFKEntity -->
<!-- Aside.21.Start. MSBuildExtensionPack.Solution => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseSolution_2">@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.Solution</a>
            </h3>
        </div>
        <div id="collapseSolution_2" class="panel-collapse collapse">
@if (Model.StatusOfSolution_1 == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Solution_Index, UrlStringsAlias.ControllerName_Solution)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Solution_WPFullDetailsOfSolution, UrlStringsAlias.ControllerName_Solution, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.Solution_1.Id })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
</div>
        <div class="panel-body">
                <div class="form-group" >
                    @Html.LabelFor(model => model.Solution_1.Id, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Solution_1.Id)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Solution_1.Name, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Solution_1.Name)
                        </div>
                </div>
        </div>
}
@if (Model.StatusOfSolution_1 != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfSolution_1 != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Solution_Index, UrlStringsAlias.ControllerName_Solution)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Solution_WPFullDetailsOfSolution, UrlStringsAlias.ControllerName_Solution, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.Solution_1.Id })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
</div>
<div class="text-danger">@Model.StatusMessageOfSolution_1</div>
}
        </div>
    </div>
</div>
<!-- Aside.21.End. MSBuildExtensionPack.Solution => RelatedEntityWhenMasterViewIsFKEntity -->
<!-- Aside.31.Start. MSBuildExtensionPack.Organization => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseOrganization_3">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Organization</a>
            </h3>
        </div>
        <div id="collapseOrganization_3" class="panel-collapse collapse">
@if (Model.StatusOfOrganization_1 == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_Index, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { isToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=false, valueToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Organization_1.Id, isToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Organization_1.UniqueIdentifier })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
</div>
        <div class="panel-body">
                <div class="form-group" >
                    @Html.LabelFor(model => model.Organization_1.Id, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Organization_1.Id)
                        </div>
                </div>
                <div class="form-group" >
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Organization_1.IsSystemBuiltIn) @Html.DisplayNameFor(model => model.Organization_1.IsSystemBuiltIn)
                        </div>
                </div>
                <div class="form-group" >
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Organization_1.BitColumn) @Html.DisplayNameFor(model => model.Organization_1.BitColumn)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Organization_1.Name, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Organization_1.Name)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Organization_1.UniqueIdentifier, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Organization_1.UniqueIdentifier)
                        </div>
                </div>
        </div>
}
@if (Model.StatusOfOrganization_1 != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfOrganization_1 != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_Index, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { isToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=false, valueToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Organization_1.Id, isToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Organization_1.UniqueIdentifier })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
</div>
<div class="text-danger">@Model.StatusMessageOfOrganization_1</div>
}
        </div>
    </div>
</div>
<!-- Aside.31.End. MSBuildExtensionPack.Organization => RelatedEntityWhenMasterViewIsFKEntity -->
<!-- Aside.41.Start. MSBuildExtensionPack.Organization => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseOrganization_4">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Organization</a>
            </h3>
        </div>
        <div id="collapseOrganization_4" class="panel-collapse collapse">
@if (Model.StatusOfOrganization_2 == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_Index, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { isToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=false, valueToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Organization_2.Id, isToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Organization_2.UniqueIdentifier })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
</div>
        <div class="panel-body">
                <div class="form-group" >
                    @Html.LabelFor(model => model.Organization_2.Id, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Organization_2.Id)
                        </div>
                </div>
                <div class="form-group" >
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Organization_2.IsSystemBuiltIn) @Html.DisplayNameFor(model => model.Organization_2.IsSystemBuiltIn)
                        </div>
                </div>
                <div class="form-group" >
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Organization_2.BitColumn) @Html.DisplayNameFor(model => model.Organization_2.BitColumn)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Organization_2.Name, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Organization_2.Name)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.Organization_2.UniqueIdentifier, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.Organization_2.UniqueIdentifier)
                        </div>
                </div>
        </div>
}
@if (Model.StatusOfOrganization_2 != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfOrganization_2 != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_Index, UrlStringsAlias.ControllerName_Organization)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { isToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=false, valueToCompareIdIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Organization_2.Id, isToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint=true, valueToCompareUniqueIdentifierIdentifierAndUniqueConstraintOftOfIdentifierAndUniqueConstraint = Model.Organization_2.UniqueIdentifier })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
</div>
<div class="text-danger">@Model.StatusMessageOfOrganization_2</div>
}
        </div>
    </div>
</div>
<!-- Aside.41.End. MSBuildExtensionPack.Organization => RelatedEntityWhenMasterViewIsFKEntity -->
<!-- Aside.51.Start. MSBuildExtensionPack.BuildEventCode => RelatedEntityWhenMasterViewIsFKEntity -->
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 style="display: inline;">
                <a data-toggle="collapse" href="#collapseBuildEventCode_5">@MSBuildExtensionPack.Resx.UIStringResourcePerEntityBuildEventCode.BuildEventCode</a>
            </h3>
        </div>
        <div id="collapseBuildEventCode_5" class="panel-collapse collapse">
@if (Model.StatusOfBuildEventCode_1 == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{ // Item
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildEventCode_Index, UrlStringsAlias.ControllerName_BuildEventCode)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildEventCode_WPFullDetailsOfBuildEventCode, UrlStringsAlias.ControllerName_BuildEventCode, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.BuildEventCode_1.Id })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
</div>
        <div class="panel-body">
                <div class="form-group" >
                    @Html.LabelFor(model => model.BuildEventCode_1.Id, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.BuildEventCode_1.Id)
                        </div>
                </div>
                <div class="form-group" >
                    @Html.LabelFor(model => model.BuildEventCode_1.EventCode, new { @class = "control-label" })
                        <div class="form-control">
                            @Html.DisplayFor(model => model.BuildEventCode_1.EventCode)
                        </div>
                </div>
        </div>
}
@if (Model.StatusOfBuildEventCode_1 != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.UIProcessReady && Model.StatusOfBuildEventCode_1 != Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
{
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildEventCode_Index, UrlStringsAlias.ControllerName_BuildEventCode)" class="btn btn-default" role="button" type="button" name="GotoSearchToolBarUp" title="@Framework.Resx.UIStringResource.GotoSearch">
        <span class="glyphicon glyphicon-search"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_BuildEventCode_WPFullDetailsOfBuildEventCode, UrlStringsAlias.ControllerName_BuildEventCode, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.BuildEventCode_1.Id })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarUp" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
</div>
<div class="text-danger">@Model.StatusMessageOfBuildEventCode_1</div>
}
        </div>
    </div>
</div>
<!-- Aside.51.End. MSBuildExtensionPack.BuildEventCode => RelatedEntityWhenMasterViewIsFKEntity -->
 </div>
 </div>
