@using UrlStringsAlias = MSBuildExtensionPack.AspNetMvc40Rasor.Helpers.UrlStrings;
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Linq.Expressions;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@using System.Web.Routing;
@using Framework.Mvc;
@using PagedList.Mvc;
@model MSBuildExtensionPack.AspNetMvc40ViewModel.WPCommonOfSolutionVM
@{
    RouteValueDictionary queryStringDictionary = new RouteValueDictionary(Request.QueryString.AllKeys.ToDictionary(key => key, key => (object)Request.QueryString[key]));
}
 <div class="row">
 <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
        @using (Html.BeginForm())
        {
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 style="display: inline;">@Framework.Resx.UIStringResource.Common_Filter</h3>
                </div>
                <div class="panel-footer nopadding">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <button class="btn btn-default" role="button" type="submit" name="SearchToolBarUp" title="@Framework.Resx.UIStringResource.Search">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Solution_AddNew, UrlStringsAlias.ControllerName_Solution)" class="btn btn-default" role="button" type="button" name="AddNewToolBarUp" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Solution_WPCommonOfSolution_Export, UrlStringsAlias.ControllerName_Solution, new RouteValueDictionary { { "dataServiceType", "Csv" } })'" class="btn btn-default" role="button" type="button" name="ExportToolBarUp" title="@Framework.Resx.UIStringResource.Export">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Solution_WPCommonOfSolution_Export, UrlStringsAlias.ControllerName_Solution, new RouteValueDictionary { { "dataServiceType", "Excel2010" } })'" class="btn btn-default" role="button" type="button" name="ExportToExcelToolBarUp" title="@Framework.Resx.UIStringResource.ExportToExcel">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Solution_Import, UrlStringsAlias.ControllerName_Solution)" class="btn btn-default" role="button" type="button" name="ImportToolBarUp" title="@Framework.Resx.UIStringResource.Import">
        <span class="glyphicon glyphicon-import"></span>
    </a>
</div>
</div>
                </div>
                <div class="panel-body">
 <div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.IsToCompare_ID_CheckBox_Search_isToCompareIdCommonOfOrganization_2OfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.Common.Organization_2Id.NullableValueToCompare, (List<SelectListItem>)Model.SelectListOfMSBuildExtensionPack_Organization, MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Please_select_Organization____, new Dictionary<string,Object>{ { "class", "form-control" }, { "onchange", "FetchOrganization_1();" } })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.IsToCompare_ID_CheckBox_Search_isToCompareIdCommonOfOrganization_1OfCommon</label>
    @Html.DropDownListFor(model => model.Criteria.Common.OrganizationId.NullableValueToCompare, Enumerable.Empty<SelectListItem>(), MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Please_select_Organization____, new Dictionary<string,Object>{ { "class", "form-control" }, { "data-bind", string.Format(@"options:selectListOfOrganization_1,optionsCaption:'{0}',optionsText:'name',optionsValue:'value',value:selectedvalueOrganization_1", MSBuildExtensionPack.Resx.UIStringResourcePerEntityOrganization.Please_select_Organization____) } })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.IsToCompare_ID_CheckBox_Search_isToCompareExternalParentIdCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.Common.ExternalParentId.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.IsToCompare_ID_CheckBox_Search_isToCompareNameCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.Common.Name.NullableValueToBeContained, new { @class = "form-control" })
</div>
<div class="form-group">
    <label class="control-label">@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.IsToCompare_ID_CheckBox_Search_isToCompareDescriptionCommonOftOfCommon</label>
    @Html.TextBoxFor(model=>model.Criteria.Common.Description.NullableValueToBeContained, new { @class = "form-control" })
</div>
                    <div class="form-group form-inline">
                        <label class="control-label">Items per page : </label>
                        @Html.DropDownListFor(model => model.QueryPagingSetting.PageSize, Model.UISharedViewModel.SelectListOfPageSize, new Dictionary<string, Object> { { "class", "form-control" }, { "onchange", "this.form.submit();" } })
                    </div>
                    <div class="form-group form-inline">
                        <label class="control-label">Sort by:</label>
                        @Html.DropDownListFor(model => model.QueryOrderBySettingCollecionInString, Model.UISharedViewModel.SelectListOfQueryOrderBySettingCollecionInString, new Dictionary<string, Object> { { "class", "form-control" }, { "onchange", "this.form.submit();" } })
                    </div>
                </div>
                <div class="panel-footer nopadding">
<div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <button class="btn btn-default" role="button" type="submit" name="SearchToolBarBottom" title="@Framework.Resx.UIStringResource.Search">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Solution_AddNew, UrlStringsAlias.ControllerName_Solution)" class="btn btn-default" role="button" type="button" name="AddNewToolBarBottom" title="@Framework.Resx.UIStringResource.AddNew">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Solution_WPCommonOfSolution_Export, UrlStringsAlias.ControllerName_Solution, new RouteValueDictionary { { "dataServiceType", "Csv" } })'" class="btn btn-default" role="button" type="button" name="ExportToolBarBottom" title="@Framework.Resx.UIStringResource.Export">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="location.href='@Url.Action(UrlStringsAlias.ActionName_Solution_WPCommonOfSolution_Export, UrlStringsAlias.ControllerName_Solution, new RouteValueDictionary { { "dataServiceType", "Excel2010" } })'" class="btn btn-default" role="button" type="button" name="ExportToExcelToolBarBottom" title="@Framework.Resx.UIStringResource.ExportToExcel">
        <span class="glyphicon glyphicon-export"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Solution_Import, UrlStringsAlias.ControllerName_Solution)" class="btn btn-default" role="button" type="button" name="ImportToolBarBottom" title="@Framework.Resx.UIStringResource.Import">
        <span class="glyphicon glyphicon-import"></span>
    </a>
</div>
</div>
                </div>
            </div>
        }
 </div>
 <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 nopadding">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 style="display: inline;">@Html.ActionLink(MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.Solution, "WPCommonOfSolution", "Solution")</h3>
            </div>
            <div class="table-responsive">
<table id="MasterDataControl1" name="MasterDataControl1" class="table table-hover table-bordered table-striped">
<thead>
    <tr>
<th style="min-width:100px" class="hidden-xs visible-sm"></th>
<th class="hidden-sm">@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.Id</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.Organization_2_Name</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.Organization_1_Name</th>
<th>@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.ExternalParentId</th>
<th class="hidden-xs">@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.Name</th>
<th class="hidden-xs">@MSBuildExtensionPack.Resx.UIStringResourcePerEntitySolution.Description</th>
    </tr>
</thead>
<tbody>
    @if (Model != null && Model.StatusOfResult == Framework.CommonBLLEntities.BusinessLogicLayerResponseStatus.MessageOK)
    {
        for (var i = 0; i < Model.Result.Count; i ++)
        {
            <tr>
<td><div class="btn-group btn-group-justified" role="group" aria-label="...">
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Solution_WPFullDetailsOfSolution, UrlStringsAlias.ControllerName_Solution, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.Result[i].Id })" class="btn btn-default" role="button" type="button" name="FullDetailsToolBarRightInList" title="@Framework.Resx.UIStringResource.FullDetails">
        <span class="glyphicon glyphicon-briefcase"></span>
    </a>
</div>
<div class="btn-group">
    <a href="@Url.Action(UrlStringsAlias.ActionName_Solution_Edit, UrlStringsAlias.ControllerName_Solution, new { isToCompareIdIdentifierOftOfIdentifier=true, valueToCompareIdIdentifierOftOfIdentifier = Model.Result[i].Id })" class="btn btn-default" role="button" type="button" name="EditToolBarRightInList" title="@Framework.Resx.UIStringResource.Edit">
        <span class="glyphicon glyphicon-edit"></span>
    </a>
</div>
</div>
</td>
<td class="hidden-sm">@Html.DisplayFor(model => model.Result[i].Id)</td>
<td>@Html.ActionLink(Model.Result[i].Organization_2_Name, UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { id = Model.Result[i].Organization_2Id, uniqueIdentifier = Model.Result[i].Organization_2_UniqueIdentifier }, null)</td>
<td>@Html.ActionLink(Model.Result[i].Organization_1_Name, UrlStringsAlias.ActionName_Organization_WPFullDetailsOfOrganization, UrlStringsAlias.ControllerName_Organization, new { id = Model.Result[i].OrganizationId, uniqueIdentifier = Model.Result[i].Organization_1_UniqueIdentifier }, null)</td>
<td>@Html.DisplayFor(model => model.Result[i].ExternalParentId)</td>
<td class="hidden-xs">@Html.DisplayFor(model => model.Result[i].Name)</td>
<td class="hidden-xs">@Html.DisplayFor(model => model.Result[i].Description)</td>
            </tr>
        }
    }
    else
    {
<tr><td colspan="50" ><div class="text-danger">@Model.StatusMessageOfResult</div>
</td></tr>
    }
</tbody>
</table>
            </div>
            <div class="pull-right">
    @if (Model.Result != null)
    {
        var pagedResult = (PagedList.StaticPagedList<MSBuildExtensionPack.DataSourceEntities.Solution.Default>)ViewBag.StaticPagedResult;
        <text>
            @Html.PagedListPager(pagedResult, currentPage => Url.Action(UrlStringsAlias.ActionName_Solution_WPCommonOfSolution, new { currentPage = currentPage }), PagedList.Mvc.PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </text>
    }
            </div>
        </div>
 </div>
 </div>
@section Scripts {
   <script type="text/javascript">
        function FetchOrganization_1() {
            var url = "/api/OrganizationApi/GetCollectionOfNameValuePairByFKOnly";
            try {
                var params = BuildCriteriaForFetchOrganization_1();
                $.getJSON(url, params, function (data) {
                    objVM.selectListOfOrganization_1(data);
                    objVM.selectedOrganization_1('@Model.Criteria.Common.OrganizationId.ValueToCompare');
                });
            }
            catch (e) {
            }
        }
        function BuildCriteriaForFetchOrganization_1() {
            var selectedvalueOrganization_2Id = $('select[name="Criteria.Common.Organization_2Id.NullableValueToCompare"]').val();
            var params = {
                parentId: selectedvalueOrganization_2Id,
                currentIndex: -1,
                pageSize: -1,
                queryOrderByExpression: null
            };
            return params;
        }
        //cascaded dropdownlist by knockoutjs
        function CascadingDDLViewModel() {
            var self = this;
            self.selectListOfOrganization_1 = ko.observableArray([]);
            self.selectedvalueOrganization_1 = ko.observable();
        }
        var objVM = new CascadingDDLViewModel();
        ko.applyBindings(objVM);
        $('select[name="Criteria.Common.Organization_2Id.NullableValueToCompare"]').change();
    </script>
}
