@using UrlStringsAlias = MSBuildExtensionPack.AspNetMvc40Rasor.Helpers.UrlStrings;
@{
    ViewBag.Title = MSBuildExtensionPack.Resources.UIStringResourcePerEntityBuildEventCode.BuildEventCode;
}
@section featured {
    <h2>@ViewBag.Title</h2>
    <h4>@ViewBag.Message</h4>
	<p>@MSBuildExtensionPack.Resources.UIStringResourcePerEntityBuildEventCode.BuildEventCode</p>
}
<div class="row">
	<div class="col-md-12">
		<ol>
			<li>@Html.ActionLink(Framework.Resources.UIStringResource.AddNewAlternativeText, UrlStringsAlias.ActionName_BuildEventCode_AddNew)</li>
			<li>@Html.ActionLink(Framework.Resources.UIStringResource.DeleteAlternativeText, UrlStringsAlias.ActionName_BuildEventCode_Delete) - Please add parameters to load this page </li>
			<li>@Html.ActionLink(Framework.Resources.UIStringResource.EditAlternativeText, UrlStringsAlias.ActionName_BuildEventCode_Edit) - Please add parameters to load this page </li>
			<li>@Html.ActionLink(Framework.Resources.UIStringResource.DetailsAlternativeText, UrlStringsAlias.ActionName_BuildEventCode_Details) - Please add parameters to load this page </li>
			<li>@Html.ActionLink(MSBuildExtensionPack.Resources.UIStringResourcePerApp.Common_of_MSBuildExtensionPack_BuildEventCode, UrlStringsAlias.ActionName_BuildEventCode_WPCommonOfBuildEventCode)</li>
			<li>@Html.ActionLink(MSBuildExtensionPack.Resources.UIStringResourcePerApp.EntityRelated_of_MSBuildExtensionPack_BuildEventCode, UrlStringsAlias.ActionName_BuildEventCode_WPEntityRelatedOfBuildEventCode)</li>
		</ol>
	</div>
</div>
